<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.A_FRESH">


    <application
        android:name="com.example.A_FRESH.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_main"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_main_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.A_FRESH"
        android:usesCleartextTraffic='true'>

        <activity android:name="com.example.A_FRESH.Running">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.A_FRESH.Fragment.FragmentMainActivity" />
        <activity android:name="com.example.A_FRESH.MainActivity" />
        <activity android:name="com.example.A_FRESH.CameraGuide" />
        <activity android:name="com.example.A_FRESH.LoginActivity" />
        <activity android:name="com.example.A_FRESH.AfterLoginActivity" />
        <activity android:name="com.example.A_FRESH.CameraGuide2" />
        <activity android:name="com.example.A_FRESH.Upload"/>
        <activity android:name="com.example.A_FRESH.Main2Activity"/>
        <activity android:name="com.example.A_FRESH.AfterRunning"/>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>


        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

    </application>

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.camera2.full" />
    <uses-permission android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.location.gps" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

</manifest>